html,body * {font-size:11px;font-style: normal;	font-family: Arial,Tahoma;	}
input,select ,textarea{ border :none;}

.noprint ,.button, a{display:none; !important}

label{ font-weight:bold; padding-right:10px;}

fieldset{margin-bottom:10px;}
legend {font-size:150%; font-weight:bold;}

.left {float:left !important;}
.right {float:right !important;}
.sll {float:left;width:49%;clear:left;}
.slr {float:right;clear:right;width:49%;}
.sll3 {float:left;width:33%;}
.sll100 {float:left;width:100%;}
.sll15 {float:left;width:15%;}
.slr3 {float:right;width:33%;}
br {clear:both;}

table.table100 {width: 100%;}
table.table th{font-weight:bold;}
table.table th a{color:#000;text-decoration:none;}
table.table tr td{padding:5px;border-bottom:1px solid #ccc;}
table.table tr td .stav_sms ,table.table tr td .stav_mail{display:none;}
table.table tr.od {background:#DFDFDF;}

#box_print label {float:left;width:25%;margin:3px;padding:2px;} 
#box_print var {margin:3px;padding:2px;float:left;}

p.pblock {padding-left:100px;}
.plabel {width:97px;display:inline-block;}