body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,table,select {margin:0;padding:0;font-style: normal;font-family: Arial,Tahoma;font-size:11px;}
img { border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;margin-bottom:.4em;margin-top:.4em;}
h1 {margin-top:0px;line-height:100%;}
abbr,acronym { border:0;}
blockquote {font-style:italic;}
fieldset {width:99%;margin:1em 0;padding:1em 0;position:relative;}
fieldset label,fieldset input{font-size:8pt;}
legend{margin:0px 0px 0px .5em;padding:0 .2em;}
input {font-size:11px;}
*>a{outline: none;} 
br {clear:both;}
pre {position:relative;border:1px solid #666;width:98%;display:block;overflow:auto;z-index:100000;background:#fff;opacity:0.9;padding:5px;color:#000;}

.header,.drobeckova,.header_fce,#navmenu,#legenda,#preloader ,#filtration,#lista_add,.footer,#refresh,.pagination{display:none;}
select {border:0;}
table.table {border-collapse: collapse;position:relative;width:100%;}
table.table th{font-weight:bold;}
table.table th a{color:#000;text-decoration:none;}

table.table tr td{padding:3px;border-bottom:1px solid #ccc;}

#print_datum{visibility: visible;}

table.table tr td .stav_sms ,table.table tr td .stav_mail{display:none;}

table.table tr.od {background:#DFDFDF;}

h1 {font-size:15px;font-weight:bold;margin:5px;margin-bottom:20px;}


td.no_print,table tr th.no_print,.no_print{display:none !important;}