pico


<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<input type='button' id='asas' value='asas'/>
<script>


	var myService = null; 
	
    function setupMyService() {
		alert(new google);
		myService = new google.gdata.calendar.CalendarService('exampleCo-exampleApp-1');
		
		myService.useOAuth('google');
		fetchData();
    }
    
    function initGadget() {
		google.load('gdata', '1.x',{packages: ["blogger", "contacts"]});
		google.setOnLoadCallback(setupMyService);
    }

    function fetchData() {            
		var callback = function(response) {
			if (response.oauthApprovalUrl) {
            } else if (response.feed) {
            } else {
            }
      };
      myService.getEventsFeed('http://www.google.com/calendar/feeds/default/public/full', callback, callback);
    }

	
	$('asas').addEvent('click', function(e){
		new Event(e).stop();
		alert('pico');
		initGadget(); 
	});
	
</script>
