 <div style='margin:10px'>
		<fieldset>
			<legend>Obecné vlastnosti</legend>
			<div class='sll'>
				<label class='label w100'>Sloupce</label>
				<input id="table_add_edit_cols" name="cols" type="text" value="2" size="3" maxlength="3" class='input_text w100' />
				<br />
				
				<label class='label w100' id="table_add_edit_cellpaddinglabel" for="cellpadding">Výplň buněk</label>
				<input id="table_add_edit_cellpadding" name="cellpadding" type="text" value="0"  maxlength="3" class="input_text w100" />
				<br />
				
				<label class='label w100' id="table_add_edit_alignlabel" for="align">Zarovnání</label>
			
			
				<select id="table_add_edit_align" name="align" class='select w100' style='float:left'>
					<option value="">-- Nezvoleno --</option>
					<option value="center">Na střed</option>
					<option value="left">Vlevo</option>
					<option value="right">Vpravo</option>
				</select> 
				<br />
				<label class='label w100' id="table_add_edit_widthlabel" for="width">Šířka</label>
				<input name="width" type="text" id="table_add_edit_width" value="" size="4" maxlength="4" class="input_text w100" />
				<br />
				
				
			</div>
			<div class='slr'>
				<label class='label w100' style='float:left'>Řádky</label>
				<input id="table_add_edit_rows" name="rows" type="text" value="2" size="3" maxlength="3" class="input_text w100" />
				<br />
				
				<label class='label w100' id="table_add_edit_cellspacinglabel" for="cellspacing">Mezera mezi buň.</label>
				<input id="table_add_edit_cellspacing" name="cellspacing" type="text" value="2" size="3" maxlength="3" class="input_text w100" />
				<br />
			
				
				
				<label class='label w100' id="table_add_edit_heightlabel" for="height">Výška</label>
				<input name="height" type="text" id="table_add_edit_height" value="" size="4" maxlength="4" class="input_text w100" />
				<br />
				
				<label class='label w100' id="table_add_edit_classlabel" for="class">Třída (CSS)</label>
				<select id="table_add_edit_class" name="class" class='select w100' style='float:left'>
					<option value="" selected>-- Nezvoleno --</option>
				</select>
			</div>
			
			
				
			
			<br style='clear:left'/>
			
		</fieldset>
		<fieldset>
			<legend>Pokročilé vlastnosti</legend>
			<div class='sll'>
				<label class='label w100' for="id">ID</label> 
				<input id="table_add_edit_id" name="id" type="text" value="" class='input_text w100' /><br />
				<label class='label w100' for="style">Styl</label>
				<input type="text" id="table_add_edit_styles" name="styles" value="" class='input_text w100' />
				<br />
				<label class='label w100' for="bgcolor">Barva pozadí</label>
				<input type='button' id='table_add_edit_change_bg_color' onclick='picker(this)' style='float:left;width:60px; height:20px; border:1px solid #CCCC'/><br/>
				<br />
			</div>
			
			<div class='slr'>
				<label class='label w100' for="summary">Obsah</label>
				<input id="table_add_edit_summary" name="summary" type="text" value="" class='input_text w100' />
				<br /> 
				<label class='label w100' for="dir">Směr textu</label>
				<select id="table_add_edit_dir" name="dir" class='select w100' style='float:left'>
					<option value="">-- Nezvoleno --</option> 
					<option value="ltr">Z leva do prava</option> 
					<option value="rtl">Z prava do leva</option> 
				</select>
				<br /> 
			</div>
		</fieldset>
		<fieldset style='float:left; width:120px; height:149px; margin-right:2px'>
			<legend>Uspořádání čar</legend>
			<strong>Nahled</strong><br />
			<div style='width:90px; border:1px solid #222; padding:5px; position:relative'>
				<table cellspacing='10' id='table_add_edit_table_preview'>
					<tr>
						<td style='border:1px dashed #efefef; width:30px; height:30px '>&nbsp;</td>
						<td style='border:1px dashed #efefef; width:30px; height:30px'>&nbsp;</td>
					</tr>
					<tr>
						<td style='border:1px dashed #efefef; width:30px; height:30px'>&nbsp;</td>
						<td style='border:1px dashed #efefef; width:30px; height:30px'>&nbsp;</td>
					</tr>
				</table>
			</div>
		</fieldset>
		<fieldset>
			<legend>Čára</legend>
			<div style='float:left; margin-right:20px'>
				<strong>Styl</strong>
				<div id='table_add_edit_style'>
					<a><div>Bez border</div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
					<a><div></div></a>
				</div>
			</div>
			<div style='float:left'>
				<strong>Šířka</strong>
				<div id='table_add_edit_thin'>
					<a>1px<span style='height:1px;top:12px'></span></a>
					<a>2px<span style='height:2px;top:11px;'></span></a>
					<a>3px<span style='height:3px;top:11px;'></span></a>
					<a>4px<span style='height:4px;top:10px;'></span></a>
					<a>5px<span style='height:5px;top:10px;'></span></a>
					<a>6px<span style='height:6px;top:9px;'></span></a>
					<a>7px<span style='height:7px;top:9px;'></span></a>
				</div>
			</div>
			<div style='float:left;margin-left:20px'>
				<strong>Barva rámečku</strong><br/>
				<input type='button' id='table_add_edit_change_border_color' onclick='picker(this);' style='width:60px; height:20px; border:1px solid #CCCC'/></br>
			</div>
			<br style='clear:both'/>
		</fieldset>
	</div>
	<br style='clear:both'/>
</div>