<label>Název kotvy:</label>
<input value="" type="text" class='inputW anchor_add_edit_name'><br class="clear" />
	
<p class="text_right">
	<input type='button' title='Vložit kotvu' value='Vložit kotvu' class='close_button'/>
</p>