
	<label>URL obrázku</label>
	
	<input value="" type="hidden" id="FotoEditorTmp" class='image_add_edit_src_domain'/>
	<input value="" type="text" id="FotoEditor" class='inputW image_add_edit_src'/>
	<a href="#" title="Procházet" class="but folder_file" id="foto_editor_icon"></a>
	<br class="clear" />
			<script language="JavaScript" type="text/javascript">
						$('foto_editor_icon').addEvent('click',function(e){
							new Event(e).stop();
							domwin.newWindow({
								id			: 'filemanager',
								sizes		: [1000,420],
								scrollbars	: false,
								defined_lang: [<?php echo implode(',',array_map(create_function('$item', 'return  \'"\'.$item.\'"\';'),array_keys($languages))); ?>],
								languages	: <?php echo (isset($renderSetting['domwin_setting']['languages']))?$renderSetting['domwin_setting']['languages']:"['cz']"?>,
								title		: this.title,
								ajax_url	: '/ftp/?win=true&input=FotoEditor',
								closeConfirm: false,
								max_minBtn	: false,
								modal_close	: false
							}); 
							
						});
						
						
			</script>
					
	<label>Popis obrázku</label>
	<input value="" type="text" class='inputW image_add_edit_title'/><br class="clear" />
		
	<label>Zarovnání</label>
	<select class='selectW image_add_edit_zarovnanilist'>
		<option value="">-- Výchozí --</option>
		<option value="baseline">Na čáru</option>
		<option value="top">Nahoru</option>
		<option value="middle">Na střed</option>
		<option value="bottom">Dolů</option>
		<option value="texttop">Nejvyšší bod textu</option>
		<option value="absmiddle">Střed řádku</option>
		<option value="absbottom">Spodek řádku</option>
		<option value="left">Vlevo</option>
		<option value="right">Vpravo</option>
	</select><br class="clear" />
		
	<label>Rozměry</label>
	
		<input value="" type="text" class='inputW image_add_edit_width' style='width:100px;'/><span style="float:left;margin-top:5px;">px &nbsp;</span>
		<input value="" type="text" class='inputW image_add_edit_height' style='width:100px;'/><span style="float:left;margin-top:5px;">px</span>
	<br class="clear" />
	<label>Rámeček</label>
	<input value="" type="text" class='inputW image_add_edit_border' id="img_b"/><br class="clear" />
	
	<label>Vertikální okraj</label>
	<input value="" type="text" class='inputW image_add_edit_vspace'/><br class="clear" />
	
	<label>Horizontální okraj</label>
	<input value="" type="text" class='inputW image_add_edit_hspace'/><br class="clear" />
	<label>Rel</label>
	<input value="" type="text" class='inputW image_add_edit_rel'/><br class="clear" />
	<p class="text_right">
		<input type='button' title='Vložit obrázek' value='Vložit obrázek' class='close_button'/>
	</p>
	<script language="JavaScript" type="text/javascript">  
	$('FotoEditorTmp').value = $('FotoEditorDomain').value;
	
	if ($('img_b').value=='')
		$('img_b').value = 0;
	</script>
