.ss_padding {position:relative;}
.ss_content{}
.fix {width:12px; height:12px; display:block}
.ss_window {
	left:50%;
	position:absolute;
	top:50%;
	visibility:visible;
	z-index: 2000;
	border-collapse: separate;
	width:300px;
	height:300px 
}

.ss_header {height:12px}
.ss_header td {height:12px; line-height:12px}

.ss_image {position: relative; display:none;}
.ss_topleft {
	background-image:url(pic/s_topleft.png);
	background-position:right bottom;
	width:12px;
	height:12px;
}

.ss_top {
	background-image:url(pic/s_top.png);
	background-position:left bottom;
}

.ss_topright {
	background-image:url(pic/s_topright.png);
	background-position:left bottom;
	width:12px;
	height:12px;
}
.ss_top {
	
}
.ss_left {
	background-image:url(pic/s_left.png);
	background-position:right top;
}

.ss_content {
	background-color:#FFFFFF;
	width:100%;
	height:100%;	
}

.ss_right {
	background-image:url(pic/s_right.png);
	background-position:left top;
}

.ss_btmleft {
	background-image:url(pic/s_btmleft.png);
	background-position:right top;
	width:12px;
	height:12px;
}

.ss_btm {
	background-image:url(pic/s_btm.png);
	background-position:left top;
}

.ss_btmright {
	background-image:url(../../js/clearbox/pic/s_btmright.png);
	background-position:left top;
	width:12px;
	height:12px;
}
.ss_title {background:#fff;position:absolute;top:0px;left:0px;padding:10px;z-index:199;width:98.3%;opacity:0.7;filter:alpha(opacity=70);}
a.ss_btn_next,a.ss_btn_prev  {float:right;left: 0px; top:180px; width:150px; height:400px; background-color:#fff;opacity: 0.0; filter:alpha(opacity=0);display:block;cursor:pointer; }
a.ss_btn_next:hover,a.ss_btn_prev:hover  {background:transparent url(pic/next.gif) no-repeat scroll right 50%;display:block;opacity: 1; filter:alpha(opacity=100);}
a.ss_btn_prev {float:left;} 
a.ss_btn_prev:hover {background:transparent url(pic/prev.gif) no-repeat scroll left 50%;}

.ss_content .image_preview {opacity:0.85;filter:alpha(opacity=85);display:block;cursor:n-resize;}
.ss_content .image_preview img{padding:2px;margin:2px;opacity:1.0;filter:alpha(opacity=100);border:1px solid #ccc;}
.ss_content .image_preview img:hover {border-color:#000;}
.ss_btn_closewindow {
	position: absolute;
	top: 0px;
	right: -2px;
	z-index: 1104;
	cursor: pointer;
	width:20px;
	height:20px;
	background:transparent url(pic/close.png) no-repeat;
	opacity:0.65;filter:alpha(opacity=65);
}
.ss_btn_closewindow:hover {	opacity:1.0;filter:alpha(opacity=100);}
.ss_background {position:absolute; top:0px; left:0px; z-index:1000;}  

.image_preview {position:absolute; bottom:0px;  overflow:hidden;white-space:nowrap}
.image_preview_container {background:#FFF;padding:5px;cursor:default;}

.fnc_element {position:absolute; z-index:1000;top:0px; left:0px; width:100%;}
.ss_loading {position:absolute; top:58px; left:45%}

                  
 * html  .ss_topleft{background: transparent none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../js/clearbox/pic/s_topleft.png',sizingMethod='scale');}
 * html  .ss_top{background: transparent none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../js/clearbox/pic/s_top.png',sizingMethod='scale');}
 * html  .ss_topright{background: transparent none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../js/clearbox/pic/s_topright.png',sizingMethod='scale');}
 * html  .ss_left{background: transparent none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../js/clearbox/pic/s_left.png',sizingMethod='scale');}
 * html  .ss_right{background: transparent none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../js/clearbox/pic/s_right.png',sizingMethod='scale');}
 * html  .ss_btmleft{background: transparent none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../js/clearbox/pic/s_btmleft.png',sizingMethod='scale');}
 * html   .ss_btm{background: transparent none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../js/clearbox/pic/s_btm.png',sizingMethod='scale');}
 * html   .ss_btmright{background: transparent none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../js/clearbox/pic/s_btmright.png',sizingMethod='scale');}
 
                              