<div >
<strong>Seznam klientů (vyberte pro kterého chcete tisknout údaje):</strong><br />
<?php
echo $htmlExt->radio('Client/id', $connections, '<br />', array('rel'=>'1','class' => 'radio')).'<br />'                 
?>
<strong>Seznam klientů(vráceno) (vyberte pro kterého chcete tisknout údaje):</strong><br />
<?php
echo $htmlExt->radio('Client/id', $connections2, '<br />', array('rel'=>'2','class' => 'radio')).'<br />'                 
?>
<br />
<?php echo $htmlExt->hidden('connection_id'); ?>
<div id="form_list_items">
<?php echo $this->renderElement('../audit_estates/form_template/items'); ?>
</div>

</div>
<script>
	$$('input.radio').addEvent('click',function(e){
	   $('ConnectionId').value = connection_id = this.value;
       new Request.HTML({
			url:'/audit_estates/form_template_items/'+this.value+'/'+this.getProperty('rel'),
            update:'form_list_items'
	   }).send();
	})
</script>	