
<h1>Mé objednávky</h1>

<table id="tabulka_item" class="table">
<thead>
    <tr>
        <th>Pracovník</th>
        <th>Pozice</th>
        <th>Objednán</th>
        <th>Cena</th>
        <th>Zaplacen</th>
      <!--  <th>Možnosti</th> -->
    </tr>
</thead>
<tbody>

<? foreach($buyed_clients as $buy): ?>
     <tr><td><?= $buy['Client']['name'].'<br />'; ?></td>
         <td><?= $buy['SettingCareerItem']['name'].'<br />'; ?></td>
         <td><?= $buy['ClientBuy']['from_date'].'<br />'; ?></td>
         <td><?= (isset ($buy['ClientBuy']['price'])? $buy['ClientBuy']['price'] : $buy['SettingCareerItem']['price_2']).'<br />'; ?></td>
         <td><?= (isset( $buy['ClientBuy']['pay_date'])?'ano':'ne') ?></td>
        <!-- <td><a href="/int_clients/client_buy/<?= $buy['Client']['id']; ?>">Detail</a></td> -->
     </tr>
<? endforeach; ?>
</tbody>
</table>

<br />

<!--
<table id="tabulka_item" class="table">
<thead>
    <tr>
        <th>Pracovník</th>
        <th>Vytvořen</th>
        <th>Možnosti</th>
    </tr>
</thead>
<tbody>

<? foreach($created_clients as $buy): ?>
     <tr><td><?= $buy['Client']['name']; ?></td>
         <td><?= $buy['Client']['created']; ?></td>
         <td></td>
     </tr>
<? endforeach; ?>
</tbody>

</table>

-->