<form action='/audit_estate_elimination_requests/show/' method='post' id='estate_repair_add_form'>
	<?php echo $htmlExt->hidden('AuditEstate/id');?>
	<div class="domtabs admin_dom_repair_links">
		<ul class="zalozky">
			<li class="ousko"><a href="#krok1">Základní</a></li>
		</ul>
</div>
	<div class="domtabs admin_dom_repair">
		<div class="domtabs field">
                    <?php echo $htmlExt->selectTag('AuditEstate/elimination_withdraval_type',$cat_list,null,array('tabindex'=>1,'label'=>'Kategorie','class'=>'long50','label_class'=>'long50'),null,false);?> <br class="clear">
                    <?php echo $htmlExt->textarea('AuditEstate/elimination_text',array('tabindex'=>2,'label'=>'Text'));?> <br class="clear">   
		</div>
	</div>
	<div class="win_save">
		<?php echo $htmlExt->button('Zavřít',array('id'=>'close_repair','tabindex'=>4));?>
	</div>
</form>
 
 <script language="javascript" type="text/javascript">
	var domtab = new DomTabs({'className':'admin_dom_repair'});
    
	$('close_repair').addEvent('click',function(e){new Event(e).stop(); domwin.closeWindow('domwin_show');});


</script>