.CB_ShowTh,.CB_ImgContainer,.CB_ContentHide,.CB_LoadingImage,.CB_Text,.CB_Window,.CB_Image,.CB_Top,.CB_Content,.CB_Btm,.CB_CloseWindow{margin:0;padding:0;background-color:transparent;border:0}
.CB_Window{left:50%;position:absolute;top:50%;visibility:hidden;border-collapse:separate; background:#FFFFFF; padding:2px; border:1px solid #024C93;}
.CB_CloseWindow{position:absolute;top:7px;right:10px;cursor:pointer;z-index:1111;visibility:visible;background:url(pic/close.png);width:14px;height:14px}
.CB_MaxWindow{position:absolute;top:7px;right:28px;cursor:pointer;z-index:1111;visibility:visible;background:url(pic/max.png);width:14px;height:14px}
.CB_Preloader{background:url(pic/loading.gif);margin:15px 0 0 20px;width:30px;height:30px}
.CB_Top{background:#fff url(../../js/domwin/pic/header.png) repeat-x scroll center bottom; border-bottom:1px solid #CCCCCE}
.CB_title{margin:3px 0 0 10px;font-size:11px;cursor:pointer;color:#041040;font-weight:700;line-height:26px}
.CB_Content{background-color:#FFF;padding:5px}
.CB_Btm{background:#CFE2F3}
.domwin_preloader {background: transparent url(/css_default/icons/validation/preloader.gif) no-repeat scroll center center;}
.domwin_modal {position:absolute; top:0px; left:0px;background:#000}
.domwin_table {}
.CB_Body td{background:#FDFAFC`}

.alert_message {position:absolute; background:#FFF; z-index:2222; background:#D6D6D6; left:100px; position:absolute; top:10px; width:555px;}
.alert_message h5 {border-color:#FFFFFF #FFFFFF #E8E8E8; border-style:solid; border-width:1px; color:#041040; margin:0; padding:15px 10px 15px 50px;}
.alert_message ul {border-color:#FFFFFF #FFFFFF #E8E8E8; border-style:solid; border-width:1px; margin:0; padding:10px 10px 5px 50px; }
.alert_message ul li {background:transparent url(../images/bul-1.png) no-repeat scroll 0 0.5em; margin:0 0 0.25em; padding-left:20px; }
.alert_message p.submit {border:1px solid #FFFFFF; margin:0; padding:10px; text-align:center;}

.alert_message .in {left:-3px; position:relative; top:-3px; background:#f1f2f3 url(../images/../images/bg-checkered-gray.gif) repeat scroll 0 0; border:1px solid #D6D6D6; }