<table class="table">
    <thead>
        <tr>
            <th>Firma</th>
            <?php foreach($forma_zamestani as $forma){
                echo '<th>'.$forma.'</th>';
            }?>
        </tr>
    </thead>
    <tbody>
        <?php foreach($at_company_list as $id_comp=>$comp){
                echo '<tr><td>'.$comp.'</td>';
                    foreach($forma_zamestani as $forma_id=>$forma){
                         echo '<td>'.$htmlExt->checkbox('ConnectionFormTemplate/'.$typ.'/'.$id_comp.'/'.$forma_id.'',null,array('tabindex'=>1,'class'=>'')).'</td>';
                    }    
                echo '</tr>';
        }?>
    </tbody>
</table>