<fieldset>
	<legend>Dovolená a Os. číslo</legend>
		<?php echo $htmlExt->input('Client/os_cislo', array('class'=>'','tabindex' => 4,'label' => 'Osobní číslo', 'disabled'=>((in_array($logged_user['CmsGroup']['id'],array(1,7)) ? false : 'disabled')))); ?><br />
		<?php echo $htmlExt->input('Client/zbyva_dovolene', array('class'=>'','tabindex' => 4,'label' => 'Zbývá dovolené','disabled'=>((in_array($logged_user['CmsGroup']['id'],array(1,7)) ? false : 'disabled')))); ?><br />	
</fieldset>