<table class='table'>
	<tr>
		<th>Typ</th>
		<th>Počet zpráv</th>
		<th>Detail</th>
	</tr>
    <!-- řádky -->
    	<tr>
			<td>Počet zpráv v historii</td>
			<td><?php echo $pocet_zprav;?></td>
			<td>Detail</td>
		</tr>
        <tr>
			<td>Uložených docházek</td>
			<td><?php echo $pocet_dochazek;?></td>
			<td>Detail</td>
		</tr>
         <tr>
			<td>Byl zaměstnán(bez aktivního)</td>
			<td><?php echo $pocet_pozadavku;?></td>
			<td>Detail</td>
		</tr>
</table> 


<div class='formular_action'>
		<input type='button' value='Zavřít' id='VyhoditClose'/>
</div>
    
<script>

$('VyhoditClose').addEvent('click',function(e){new Event(e).stop(); domwin.closeWindow('domwin_zamestnanci_hodiny');});
	
</script>    