<fieldset>
	<legend>Středisko</legend>
    <div class="sll">
		<?php echo $htmlExt->input('Client/st_company_text', array('class'=>'','tabindex' => 1,'label' => 'Společnost - text'));?><br />
		<?php echo $htmlExt->selectTag('Client/st_company_id',$leasing_company_list,null, array('class'=>'','tabindex' => 3,'label' => 'Společnost')); ?><br />	
    </div>
    <div class="slr">
		<?php echo $htmlExt->input('Client/st_centre_text', array('class'=>'','tabindex' => 2,'label' => 'Středisko - text'));?><br />
		<?php echo $htmlExt->input('Client/st_centre', array('class'=>'','tabindex' => 4,'label' => 'Středisko'));?><br />
	</div>
    <br />
</fieldset>