<fieldset class="none" >
	<legend>Zvolte rok / měsíc <em>Prozatim nefunkcni</em></legend>

	<form method='post' id='calendar_formular'>
	<div>
		<?php echo $htmlExt->hidden('company_id',array('value' => $detail["RequirementsForRecruitment"]["id"]));?>
		<div class="sll" >  
			<?php echo $htmlExt->selectTag('year', $actual_years_list,Date ('Y'),array('label'=>'Rok'),null,true);?>
		</div>
		<div class="slr" >  
			<?php echo $htmlExt->selectTag('month',$mesice_list,Date ('n'),array('label'=>'Měsíc'));?> <br/>
		</div>
	</div>
</form>	
<br />
</fieldset>
<div id='zam_tab'>

</div>
	<div class='formular_action'>
		<input type='button' value='Zavřít' id='ListZamestnanciClose' class='button'/>
	</div>
<script>
	new Request.HTML({
  		url: '/report_requirements_for_recruitments/zam_refresh/' + $('CompanyId').value + '/<?php echo Date ('Y'); ?>/<?php echo Date ('n'); ?>',
  		update:'zam_tab'
  	}).send();

	$('ListZamestnanciClose').addEvent('click', function(e){new Event(e).stop(); domwin.closeWindow('domwin_zamestnanci');});


	/* pokud je aktualni rok disable options 
	if  ($('Year').value==<?php echo Date ('Y'); ?>){
		
		options = $('Month').getElements("option");
		<?php foreach ($mesice_list AS $key => $mnth){ ?>
			<?php if ($key > Date ('n')){ ?>
				options[<?php echo $key ?>].setProperty("disabled","disabled");
			<?php } ?>
		<?php } ?>
	}	
		
	$('Year').addEvent('change', function(){
	
	if( $('Month').value!=""){
  	
		/* pokud je aktualni rok disable options 
		if  ($('Year').value==<?php echo Date ('Y'); ?>){
			options = $('Month').getElements("option");
			<?php foreach ($mesice_list AS $key => $mnth){ ?>
				<?php if ($key > Date ('n')){ ?>
					options[<?php echo $key ?>].setProperty("disabled","disabled");
				<?php } ?>
			<?php } ?>
		} else {
			<?php foreach ($mesice_list AS $key => $mnth){ ?>
					options[<?php echo $key ?>].removeProperty("disabled","disabled");
			<?php } ?>
		}
*/		
	/*$('Month').addEvent('change', function(){
	if( $('Year').value!=""){
  	new Request.HTML({
  		url: '/report_requirements_for_recruitments/zam_refresh/' + $('CompanyId').value + '/' + $('Year').value +'/' + $('Month').value,
  		update:'zam_tab'
  	}).send();
	}
 });*/
	
	/*
	new Request.HTML({
  		url: '/report_requirements_for_recruitments/zam_refresh/' + $('CompanyId').value + '/' + $('Year').value +'/' + $('Month').value,
  		update:'zam_tab'
  	}).send();
	}
 });*/
 	
</script>