<table class='table' id='table_messages'>
	<tr>
		<th>#ID</th>
		<th>Od</th>
		<th>Předmět</th>
		<th>Vytvořeno</th>
	</tr>
	
	<tr>
		<td><?php echo $detail['ClientMessage']['id'];?></td>
		<td><?php echo $detail['CmsUser']['name'];?></td>
		<td><?php echo $detail['ClientMessage']['name'];?></td>
		<td><?php echo $fastest->czechDateTime($detail['ClientMessage']['created']);?></td>
	</tr>

	<tr>
		<th colspan="4">Text</th>
	</tr>
	<tr>
		<td colspan="4"><?php echo $detail['ClientMessage']['text'];?></td>

	</tr>

</table>

	<div class='formular_action'>
		<input type='button' value='Zavřít' id='ListClientMessageClose' class='button'/>
	</div>
<script>
	$('ListClientMessageClose').addEvent('click', function(e){new Event(e).stop(); domwin.closeWindow('domwin_message_detail');});

</script>