<form action='/report_down_payments/exception_add/' method='post' id='add_company'>
	<fieldset>
			<legend>Firma</legend>
					<?php echo $htmlExt->selectTag('CompanyExceptionPayment/company_id', $company_list, null, array('tabindex'=>1,'label'=>'Firma'));?> <br class="clear">
			</fieldset>
	<div class='formular_action'>
		<input type='button' value='Uložit' id='AddEditClientMessageSaveAndClose' />
		<input type='button' value='Zavřít' id='AddEditClientMessageClose'/>
	</div>
´</form>
<script>

	
	$('AddEditClientMessageClose').addEvent('click',function(e){new Event(e).stop(); domwin.closeWindow('domwin_company_add');});
	
	$('AddEditClientMessageSaveAndClose').addEvent('click',function(e){
		new Event(e).stop();

			new Request.JSON({
				url:$('add_company').action,		
				//update: $("domwin"),
				onComplete:function(json){
					domwin.loadContent('domwin')
					domwin.closeWindow('domwin_company_add');
				}
			}).post($('add_company'));
	});
	
</script>