<div class="sll">
<?php
     echo $htmlExt->selectTag('manazer_realizace_id',$manager_realizace_list,null,array('label'=>'Manažer Realizace'));
?>
</div><br />
<script type='text/javascript'>
$('ManazerRealizaceId').addEvent('change',function(e){
    $('items').fade(0);
    new Request.HTML({
		url: '/graph/index/'+this.value+'/',
		update: $('items'),
		onComplete: function(){
            drawChart();
            $('items').fade(1);
		}
	}).send();
})
</script>
<script type='text/javascript' src='http://www.google.com/jsapi'></script>
<div id="items">
    <?php echo $this->renderElement('../graph/items');?>
</div>