<fieldset>
<legend>Kategorie odměny</legend>
<div class='sl3'>
<?php 

if(in_array($CmsGroupId ,array(1,5,9)))
{	
	echo $htmlExt->selectTag('RequirementsForRecruitment/setting_career_cat_id', $carrer_cat_list,null, array('label'=>'Kategorie'),array('title'=>$carrer_cat_title),null,false)."<br />";
	echo $htmlExt->var_text('prize',array('label'=>'Celková odměna za každou hodinu'))."<br />";
}

?>
</div>
</fieldset>
<?php
if(in_array($CmsGroupId ,array(1,5,9))) {
?>
<script>
if($('RequirementsForRecruitmentSettingCareerCatId').value != null)
	setPrize($('RequirementsForRecruitmentSettingCareerCatId'));
	
// set prize
	$('RequirementsForRecruitmentSettingCareerCatId').addEvent('change', function(){
		setPrize(this);
	});

	function setPrize (id){
		title = id.options[id.selectedIndex].title.split('|');
		name = title[0];
		prize = title[1]/250;
		
		$('Prize').setHTML((prize)?prize:0);
	}

</script>
<?php }?>