<h2>Objednávky:</h2>
<table class='table'>
<tbody class="sll3">
	<tr>
		<td>Datum</td>
		<td colspan="2"><?php echo $htmlExt->inputDate('objednavky_datum',array('value'=>$date,'class'=>''));?></td>
	</tr>
   <?php  $fastest->dashboard_data_list($objednavky_data); ?>
</tbody>

<tbody class="sll3">
	<tr>
		<td colspan="2">Statistiky objednávek 1 (dnes)</td>
	</tr>
    <?php  $fastest->dashboard_data_list($objednavky_data2); ?>
</tbody>    


<tbody class="sll3">
	<tr>
		<td colspan="2">Statistiky objednávek 2 (od 1.1.2010)</td>
	</tr>
    <?php  $fastest->dashboard_data_list($objednavky_data3); ?>
</tbody>    
    
</table>