<div class="win_fce top">
<?php 
//pr($permission);
if(isset($permission['upload_file']) && $permission['upload_file'] == true){ ?>
<a href='/clients/attachs_edit/<?php echo $client_id;?>' class='button edit' id='company_attach_add_new' title='Přidání nové přílohy'>Přidat přílohu</a>
<?php } ?>
</div>
<table class='table' id='table_attachs'>
	<tr>
		<th>#ID</th>
		<th>Název</th>
		<th>Typ</th>
		<th>Vytvořeno</th>
		<th>Možnosti</th>
	</tr>
	<?php if (isset($attachment_list) && count($attachment_list) >0):?>
	<?php foreach($attachment_list as $attachment_item):?>
	<tr>
		<td><?php echo $attachment_item['ClientAttachment']['id'];?></td>
		<td><?php echo $attachment_item['ClientAttachment']['name'];?></td>
		<td><?php echo $attachment_item['SettingAttachmentType']['name'];?></td>
		<td><?php echo $fastest->czechDateTime($attachment_item['ClientAttachment']['created']);?></td>
		<td>
			<a title='Editace přílohy "<?php echo $attachment_item['ClientAttachment']['name'];?>"' 	class='ta edit' href='/clients/attachs_edit/<?php echo $client_id;?>/<?php echo $attachment_item['ClientAttachment']['id'];?>'/>edit</a>
			<?php if(isset($permission['delete_file']) && $permission['delete_file'] == true){ ?>
            <a title='Odstranit přílohu'class='ta trash' href='/clients/attachs_trash/<?php echo $client_id;?>/<?php echo $attachment_item['ClientAttachment']['id'];?>'/>trash</a>
			<?php } ?>
            <?php if(isset($permission['download_file']) && $permission['download_file'] == true){ ?>
            <a title='Stáhnout přílohu'class='ta download' href='/clients/attachs_download/clients|attachment|<?php echo $attachment_item['ClientAttachment']['file'];?>/<?php echo $attachment_item['ClientAttachment']['alias_'];?>/'/>download</a>
		    <?php } ?>  
        </td>
	</tr>
	<?php endforeach;?>
	<?php else:?>
	<tr>
		<td colspan='5'>K tomuto klientovi nebyla nadefinována příloha</td>
	</tr>
	<?php endif;?>
</table>
<?php // pr($attachment_list);?>
	<div class='formular_action'>
		<input type='button' value='Zavřít' id='ListClientAttachmentClose' class='button'/>
	</div>
<script>
	$('ListClientAttachmentClose').addEvent('click', function(e){new Event(e).stop(); domwin.closeWindow('domwin_attach');});

	$('table_attachs').getElements('.trash').addEvent('click',function(e){
		new Event(e).stop();
		if (confirm('Opravdu si přejet smazat tuto přílohu?')){
			new Request.HTML({
				url:this.href,
				update: $('domwin_attach').getElement('.CB_ImgContainer'),
				onComplete: function(){}
			}).send();
		}
	});
	
	$('domwin_attach').getElements('.edit').addEvent('click',function(e){
		new Event(e).stop();
		domwin.newWindow({
			id			: 'domwin_attach_add',
			sizes		: [580,390],
			scrollbars	: true,
			title		: this.getProperty('title'),
			languages	: false,
			type		: 'AJAX',
			ajax_url	: this.href,
			closeConfirm: true,
			max_minBtn	: false,
			modal_close	: false,
			remove_scroll: false
		}); 
	});
</script>