/* barva hover odkazu */
div.domtabs.small ul.zalozky li.ousko a{padding:3px 8px 3px 0px;font-size:11px;}
div.domtabs ul.zalozky li.ousko a {color:#7F7F7F;font-weight:normal;}
/*pole*/
div.domtabs.field {border:0px solid #ccc;clear:both;padding:5px 5px 28px 5px;border-width:0px 1px 1px 1px;background:#fafafa;position:relative;display:block;|width:94.8%;|min-height:1%;display:block;}	
div.domtabs ul.zalozky {background:url("../../css/fastest/domtabs/tabbg.gif") repeat-x bottom;margin:0;padding:0;list-style:none;clear:both;float:left;width:100%;padding-left:1px;width:99.8%;position:relative;|width:96.1%}
div.domtabs ul.zalozky li.ousko ,div.domtabs ul.zalozky li.ousko a {float:left;text-decoration:none;white-space: nowrap;cursor:pointer;}
div.domtabs ul.zalozky li.ousko {background:transparent url("../../css/fastest/domtabs/domtab.png") no-repeat left top;padding-left:8px;border-bottom:1px solid #ccc;margin:0;margin-left:-1px;}
div.domtabs ul.zalozky li.ousko a {background:transparent url("../../css/fastest/domtabs/domtab.png") no-repeat right top;display:block;width:.1em;padding:5px 15px 4px 6px;_padding:3px 7px 4px 0px;width:auto;}
/*select*/
div.domtabs ul.zalozky li.ousko.select {background-position:0px -75px;border-bottom:1px solid #fafafa;}
div.domtabs ul.zalozky li.ousko a.select {color:#000;background-position:100% -75px;border-bottom:0;}
/*disallow*/
div.domtabs ul.zalozky li.ousko.disallow a {color:silver;}
/*hover*/
div.domtabs ul.zalozky li.ousko a:hover {background-position:100% -75px;}
div.domtabs ul.zalozky li.ousko:hover, div.domtabs ul.zalozky li.iehover {background-position:0px -75px;}
div.domtabs ul.zalozky li.ousko {background-color: expression(this.onmouseover = new Function("this.className += ' iehover';"),this.onmouseout = new Function("this.className = this.className.replace(' iehover', '')"));}