<?php 
//$forma = $fastest->made_forma_odmeny($detail['CompanyMoneyItem']['name'], $detail['CompanyMoneyItem']['doprava'], $detail['CompanyMoneyItem']['cena_ubytovani_na_mesic'], $detail['CompanyMoneyItem']['stravenka']);
?>
<form action='/my_audit_estates/manage_estate/' method='post' id='formular'>
<?php echo  $htmlExt->hidden('audit_estate_id');?>
<?php echo  $htmlExt->hidden('old_connection_id');?>
<?php echo  $htmlExt->hidden('renting_connection');?>
<?php echo  $htmlExt->hidden('from_old',array('value'=>$old['ConnectionAuditEstate']['created']));?>

       
            <fieldset>
		      <legend>Moje pujceni</legend>
			     <?php echo $htmlExt->inputDate('do',array('tabindex'=>1,'label'=>'Vracím majetek ke dni','class'=>'','label_class'=>'long'));?> <br class="clear">		
			    <div id="transfer_box_now" class="none">
                 <?php echo $htmlExt->checkbox('transfer_now',null,array('tabindex'=>2,'label'=>'Předat majetek ihned<br />(bez mého užití)','class'=>'','label_class'=>'long'));?> <br class="clear">		
	            </div>   
              </fieldset>
            
            <fieldset>
    		    <legend>Předáni majetku na</legend>
                <?php echo $htmlExt->selectTag('company_id',$at_company_list,null,array('label'=>'Z Firmy','class'=>'long','label_class'=>'long'));?><br/>
    		    <?php echo $htmlExt->selectTag('client_id',array(),null,array('label'=>'Klient','class'=>'long','label_class'=>'long'));?><br/>
                <?php echo $htmlExt->inputDate('od',array('tabindex'=>1,'label'=>'Majetek od','class'=>'','label_class'=>'long'));?> <br class="clear">		
    		</fieldset>

	<div class='formular_action'>
		<input type='button' value='Předat majetek' id='PredatMajetekSaveAndClose' />
		<input type='button' value='Zavřít' id='PredatMajetekClose'/>
	</div>
</form>
<script>
    $('CompanyId').ajaxLoad('/my_audit_estates/load_ajax_employees/',['ClientId']);
    
     function get_date(date, separator){
        date = date.split(separator);           
        return date[2] +'.' + date[1] + '.' + date[0];
    }
    
    today = new Date();
    from_month = new Date($('FromOld').value);

    if((today.getFullYear() == from_month.getFullYear()) && (today.getMonth()+1 == from_month.getMonth()+1))
        $('transfer_box_now').removeClass('none'); 
   
    from_old = get_date($('FromOld').value, '-');
    
    /**
     * pradani ihned, tedy vraci majetek ke dni kdy ho dostal = 0 naklady
     * bez moznosti editace
     */
    $('TransferNow').addEvent('click',function(e){
        if(this.checked){
            $('calbut_Do').value = $('calbut_Od').value = $('FromOld').value;
            $('calbut_Do').setProperty('disabled','disabled'); 
            $('calbut_Od').setProperty('disabled','disabled'); 
        }
        else{
            $('calbut_Do').value = $('calbut_Od').value = '';
            $('calbut_Do').removeProperty('disabled'); 
            $('calbut_Od').removeProperty('disabled'); 
        } 
    })    

	$('PredatMajetekClose').addEvent('click',function(e){new Event(e).stop(); domwin.closeWindow('domwin');});
	$('PredatMajetekSaveAndClose').addEvent('click',function(e){
		new Event(e).stop();
        valid_result = validation.valideForm('formular');


         if($('calbut_Do').value == '') 
			if(valid_result == true)
				valid_result = Array("Musite zvolit datum vracení");
			else
				valid_result[valid_result.length]="Musite datum vracení";    
        else{
            if(!$('TransferNow').checked && $('calbut_Do').value <= $('FromOld').value)
                if(valid_result == true)
				    valid_result = Array("Chyba datum vracení je menší než staré datum přebrání majetku.\nToto datum musí být min. o jeden den větší než přebrání majetku.\n\n Přebrání majetku bylo : "+from_old);
                else
				    valid_result[valid_result.length]="Chyba datum vracení je menší než staré datum přebrání majetku.\nToto datum musí být min. o jeden den větší než přebrání majetku.\n\n Přebrání majetku bylo : "+from_old;   
        }   
           
        if( $('calbut_Od').value == '') 
			if(valid_result == true)
				valid_result = Array("Musite zvolit datum nového přidělení");
			else
				valid_result[valid_result.length]="Musite zvolit nového přidělení";        
        else{
            if(!$('TransferNow').checked && $('calbut_Od').value <= $('calbut_Do').value)
                if(valid_result == true)
				    valid_result = Array("Chyba datum nového přidělení je menší než datum vrácení.\nToto datum musí být min. o jeden den větší než datumu vrácení.");
                else
				    valid_result[valid_result.length]="Chyba datum nového přidělení je menší než datum vrácení.\nToto datum musí být min. o jeden den větší než datumu vrácení.";   
        }   
              
        if (valid_result == true){
            $('calbut_Do').removeProperty('disabled'); 
            $('calbut_Od').removeProperty('disabled'); 
            button_preloader($('PredatMajetekSaveAndClose'));
			new Request.JSON({
				url:$('formular').action,		
				onComplete:function(json){
					if (json){
						if (json.result === true){
                            if(json.message)
                                alert(json.message);
                            click_refresh($('AuditEstateId').value);    
                            domwin.closeWindow('domwin');
						} else {
							alert(json.message);
						}
					} else {
						alert('Chyba aplikace');
					}
                    
                    button_preloader_disable($('PredatMajetekSaveAndClose'));
				}
			}).post($('formular'));
       } 
       else {
		  var error_message = new MyAlert();
		  error_message.show(valid_result)
	   }      
	});
    
    validation.define('formular',{	
        'ClientId': {
			'testReq': {'condition':'not_empty','err_message':'Musíte vyplnit klienta kterému chcete majetek předat'},
		}
	});
	validation.generate('formular',false);
</script>	