<form action='/report_company_to_authorizations/repair/<?php echo $id.'/'.$working_hour_id.'/'.$new;;?>' method='post' id='formular'>

    <fieldset>
		<legend>Komentář</legend>
		<?php echo $htmlExt->textarea('text',array('tabindex'=>1,'label'=>'Text','class'=>'long','label_class'=>'long'));?> <br class="clear">
		<?php echo $htmlExt->hidden('client_id',array('value'=>$client_id));?>	    
    </fieldset>
	<div class='formular_action'>
		<input type='button' value='Vrátit k opravě' id='AddEditClientMessageSaveAndClose' />
		<input type='button' value='Zavřít' id='AddEditClientMessageClose'/>
	</div>
</form>
<script>

	
	$('AddEditClientMessageClose').addEvent('click',function(e){new Event(e).stop(); domwin.closeWindow('domwin_repair');});
	
	$('AddEditClientMessageSaveAndClose').addEvent('click',function(e){
		new Event(e).stop();

			new Request.JSON({
				url:$('formular').action,
				onComplete:function(){
					domwin.loadContent('domwin_show');
					domwin.closeWindow('domwin_repair');
				}
			}).post($('formular'));

	});
	</script>

	