<fieldset>
	<legend>Dovolená</legend>
	<div class='sll'>
        <?php echo $htmlExt->input('Dovolena/standart',array('readonly'=>'readonly','value'=>20,'label'=>'Ročně','class'=>'read_info'));?><br />
		<?php echo $htmlExt->input('Dovolena/radek2',array('readonly'=>'readonly','label'=>'Řádek 2','value'=>$radek2));?><br/>
		<?php echo $htmlExt->input('Dovolena/radek3',array('readonly'=>'readonly','label'=>'Řádek 3','value'=>$radek3));?><br/>
		<?php echo $htmlExt->input('Dovolena/available',array('readonly'=>'readonly','label'=>'Zbývá','value'=>($radek2-$radek3)));?><br/>
	</div>
	<div class='slr'>
						
	</div>
</fieldset>