<?php
//pr($filtration_sum_variables);
if(isset($filtration_sum_variables)){      
    $filtration_sum_variables = Set::combine($filtration_sum_variables,'{n}.AuditEstateLossEvent.currency','{n}.0','{n}.AuditEstateLossEvent.type_of_event');
    if(!isset($filtration_sum_variables[1]))
        $filtration_sum_variables[1] = array(0=>array('cena'=>0),1=>array('cena'=>0));
    if(!isset($filtration_sum_variables[2]))
        $filtration_sum_variables[1] = array(0=>array('cena'=>0),1=>array('cena'=>0));    
    if(!isset($filtration_sum_variables[3]))
        $filtration_sum_variables[0] = array(0=>array('cena'=>0),1=>array('cena'=>0));    
    ?>
    <div id="filtration_variables3">
        <div class="sll">
            Bezne opotrebenie majetku: <strong><?= $fastest->price($filtration_sum_variables[1][0]['cena'],',- CZK');?></strong><br />
            Skoda nehradzena poistovnou: <strong><?= $fastest->price($filtration_sum_variables[2][0]['cena'],',- CZK');?></strong><br />
            Poistna udalost: <strong><?= $fastest->price($filtration_sum_variables[3][0]['cena'],',- CZK');?></strong><br />
 
        </div>
        <div class="slr">
            Bezne opotrebenie majetku: <strong><?= $fastest->price($filtration_sum_variables[1][1]['cena'],',- EUR');?></strong><br />
            Skoda nehradzena poistovnou: <strong><?= $fastest->price($filtration_sum_variables[2][1]['cena'],',- EUR');?></strong><br />
            Poistna udalost: <strong><?= $fastest->price($filtration_sum_variables[3][1]['cena'],',- EUR');?></strong><br />
        </div>
    </div>
<?php 
}
?>