<form id='add_edit_group_formular' action='/history_types/edit/' method='post'>
	<?php echo $htmlExt->hidden('HistoryType/id');?>
	<fieldset>
		<legend>Základní</legend>
		<?php echo $htmlExt->input('HistoryType/name',array('label_class'=>'long','class'=>'long','label'=>'Název'));?><br />
	</fieldset>	
	<div class='formular_action'>
		<input type='button' value='Uložit' id='AddEditGroupSaveAndClose' />
		<input type='button' value='Zavřít' id='AddEditGroupClose'/>
	</div>
</form>
<script>
$('AddEditGroupClose').addEvent('click',function(e){new Event(e).stop(); domwin.closeWindow('domwin');});
$('AddEditGroupSaveAndClose').addEvent('click', function(e){
		new Event(e).stop();
		valid_result = validation.valideForm('add_edit_group_formular');
			if (valid_result == true){
			new Request.JSON({
				url:$('add_edit_group_formular').action,		
				onComplete:function(){
					click_refresh($('HistoryTypeId').value);
					domwin.closeWindow('domwin');

				}
			}).post($('add_edit_group_formular'));
		} else {
			var error_message = new MyAlert();
			error_message.show(valid_result)
		}
	});
	
	
	validation.define('add_edit_group_formular',{
		'HistoryTypeName': {
			'testReq': {'condition':'not_empty','err_message':'Musíte vyplnit název'}
		}		
	});
	validation.generate('add_edit_group_formular',<?php echo (isset($this->data['HistoryType']['id']))?'true':'false';?>);

</script>