<div id="duplicity_win">
    <a href="#" id="duplicity_check">Duplicitní klienti</a>:<br />
    <ul id="duplicity_client_ul">
        <?php
        pr($duplicity_list);
            foreach($duplicity_list as $cl){
                echo '<li rel="'.$cl['Client']['id'].'">'.$html->link($cl['Client']['id'].' -> '.$cl['Client']['name'],'/clients/edit/'.$cl['Client']['id'].'/domwin/only_show',array('class'=>'client_info_a')).'</li>';
            }
        ?>
    </ul>
    <div id="duplicity_client_edit_view"></div>
</div>
<br />
<hr />
<br />
<script>
// zobrazovani klientu
var slider_cl_dup = new Fx.Slide('duplicity_client_ul');
//slider_comment.hide();
		
$('duplicity_check').addEvent('click',function(e){
    e.stop();
	slider_cl_dup.toggle();
	return false;
});


$$('.client_info_a').addEvent('click',function(e){
		new Event(e).stop();
        new Request.HTML({
			    url:this.href,	
                update: $('duplicity_client_edit_view'),	
				onComplete:function(){
			         slider_cl_dup.toggle();
                     $('duplicity_client_edit_view').getElement('input[id=close]').dispose();
				}
        }).send();	
});
</script>