
<fieldset>
				<legend>Parent</legend>
				<div class="sll">  
          <?php 
          echo $htmlExt->selectTag('ConnectionMlmRecruiter/parent_id',$parent_list,null,array('label'=>'Parent'),null,false);?><br />
				</div><br />
</fieldset>