<?php
//echo $neco;

?>
<div id="level1" style="border: 1px solid red;"> <div id='parent_div_1_0'></div></div>
<div id="level2"  style="border: 1px solid blue;"> </div>
<div id="level3"  style="border: 1px solid yellow;"> </div>

<script>

$each(JSON.decode('<?php echo $neco;?>'),function(item){
  console.log(item.name+' '+item.level);
  console.log(('level'+(item.level.toInt()+1)));
  new Element('div',{id:'user_'+item.id}).setHTML(item.name+'('+item.conId+')').inject($('parent_div_'+item.level+'_'+item.parent_id)).setStyles({'float':'left',width:'100px'})
  if(item.parent_id!=0)
    $('user_'+item.parent_id).setStyle('width', $('user_'+item.parent_id).getStyle('width').toInt()+100);
  
 switch(item.level){
   case '1':
    new Element('div',{id:'parent_div_2_'+item.id}).inject($('level2'));
    new Element('div',{id:'parent_div_3_'+item.id}).inject($('level3'));
    break;
  case '2':
    new Element('div',{id:'parent_div_3_'+item.id}).inject($('level3'));
    break;
    }
});

new Element('br').inject('level1');
new Element('br').inject('level2');
new Element('br').inject('level3');

</script>