<fieldset>
				<legend>Parent</legend>
				<div class="sll">  
          <?php echo $htmlExt->selectTag('ConnectionMlmRecruiter/mlm_group_id',$mlm_group_list,null,array('label'=>'Skupina MLM'),null,false);?><br />
				</div><br />
</fieldset>