<fieldset>
				<legend>Recruiter</legend>
				<div class="sll">  
					<?php echo $htmlExt->selectTag('ConnectionMlmRecruiter/cms_user_id',$recruiters_list,null,array('label'=>'Recruiter'),null,false);?><br />
				</div><br />
					</fieldset>